<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>Bid Bazaar</title>

  <link rel="icon" href="/static/images/Logo-auction.png">

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/css/fontawesome.css">
  <link rel="stylesheet" href="/static/css/templatemo-plot-listing.css">
  <link rel="stylesheet" href="/static/css/animated.css">
  <link rel="stylesheet" href="/static/css/owl.css">
  <!--

TemplateMo 564 Plot Listing

https://templatemo.com/tm-564-plot-listing

-->

  <style>
    .con {
      overflow: hidden;
      position: relative;
      width: 80%;
      /* border: 2px solid red; */
      top: 20px;
      left: 7%;
      padding: 10px 40px 20px 40px;
      margin: 40px;
      background: linear-gradient(to right, rgb(143, 144, 151), rgb(202, 204, 211));
      border-radius: 10px;
    }

    .con img {
      float: right;
      width: 30%;
      padding: 20px;
      margin: 0px;
    }

    .con h4 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 900;
      padding: 10px 20px 20px 0px;
      color: whitesmoke;
    }

    .buy {
      position: relative;
      left: 50px;
      font-family: cursive;
      font-style: unset;
      margin: 10px;
    }

    .box-content {
      display: flex;
      flex-direction: row;
    }

    .butt {
      margin: 1.5rem 0rem 1.5rem;
      font-weight: bold;
      font-size: 1.5rem;
      border-radius: 7px;
      background-color: #2b2d42;
      color: antiquewhite;

    }


    .tim {
      font-weight: 400;
      margin: 1.5rem 1.5rem 1.5rem;
    }

    .section-heading > h2{
      text-align: center;
      margin-top: 2rem;

    }
  </style>

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'index' %}" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'buy' %}" class="active">Buy</a></li>
              <li><a href="{% url 'sell' %}">Sell</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
              <li>
                <div class="main-white-button">
                  {% if user.is_authenticated %}
                  <a href="{% url 'signout' %}">Logout</a>
                  {% else %}
                  <a href="{% url 'log_form' %}">Login</a>
                  {% endif %}
                </div>
              </li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>Channel your inner challenger...</h6>
            <h2>Bid on a myriad of products !</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>On-going Auctions</h2>
          <!-- <h6>Check Them Out</h6> -->
        </div>
      </div>
    </div>
  </div>

            <!--New-->
            {% for x in mylists %}
            {% if x.auc_status == 'AC' %}
            <div class="con">
              <img src="/media/{{ x.img }}" alt="">
              <h4>{{ x.name }}</h4>
              <p>{{ x.desc }} </p>
              <div class="box-content">
                <div class="bidding">
                  <a href="{% url 'new_bid' x.list_id %}">
                    <button class="butt">Bid <span class="material-symbols-outlined">gavel</span></button>
                  </a>

                </div>
                <div class="tim"><b>Auction Ends:</b> {{ x.end_auc }}</div>
              </div>
              <div class="current-bid"><b>Current Bid:</b> <span>&#8377;</span> {{ x.latest_bid_prize }}</div>
            </div>
            {% endif %}
            {% endfor %}


  
    
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-heading">
                        <h2>Upcoming Auctions</h2>
                        <!-- <h6>Check Them Out</h6> -->
                      </div>
                    </div>
                  </div>
                </div>
              

            <!--New-->
            {% for x in mylists %}
            {% if x.auc_status == 'UP' %}
            <div class="con">
              <img src="/media/{{ x.img }}" alt="">
              <h4>{{ x.name }}</h4>
              <p>{{ x.desc }} </p>
              <div class="box-content">
                <div class="bidding">
                  <a href="{% url 'new_bid' x.list_id %}">
                    <button class="butt">Set Reminder <span class="material-symbols-outlined">notifications_active</span></button>
                  </a>

                </div>
                <div class="tim"><b>From:</b> {{ x.start_auc }} <br> <b>To:</b> {{ x.end_auc }}</div>
              </div>
              <div class="current-bid"><b>Bidding starts at:</b> <span>&#8377;</span> {{ x.base_prize }}</div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-heading">
                    <h2>Past Auctions</h2>
                    <!-- <h6>Check Them Out</h6> -->
                  </div>
                </div>
              </div>
            </div>
          

        <!--New-->
        {% for x in mylists %}
        {% if x.auc_status == 'PA' %}
        <div class="con">
          <img src="/media/{{ x.img }}" alt="">
          <h4>{{ x.name }}</h4>
          <p>{{ x.desc }} </p>
          <div class="box-content">
            <div class="bidding">
              <a href="{% url 'new_bid' x.list_id %}">
                <button class="butt">Sold <span class="material-symbols-outlined">sell</span></button>
              </a>

            </div>
            <!-- <div class="tim">From: {{ x.start_auc }} <br> To: {{ x.end_auc }}</div> -->
          </div>
          <div class="current-bid"><b>Sold at:</b> <span>&#8377;</span> {{ x.latest_bid_prize }}</div>
        </div>
        {% endif %}
        {% endfor %}


            


            <footer>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="sub-footer">
                      <p>Copyright © 2023 Bid Bazaar Co., Ltd. All Rights Reserved.
                        <br>
                        <!-- Design: <a rel="nofollow" href="https://templatemo.com" title="CSS Templates">TemplateMo</a></p> -->
                    </div>
                  </div>
                </div>
              </div>
            </footer>

            <!-- Scripts -->
            <script src="/static/jquery/jquery.min.js"></script>
            <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/static/js/owl-carousel.js"></script>
            <script src="/static/js/animation.js"></script>
            <script src="/static/js/imagesloaded.js"></script>
            <script src="/static/js/custom.js"></script>

</body>

</html>