
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <link rel="stylesheet" href="assets/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
          <span class="dot"></span>
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>

    <div class="Login-page">
        <form action="">
            <h1>Change Password</h1>
            <div class="input-box">
                <input type="password" placeholder="New Password">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm New Password">
                <i class='bx bxs-lock-alt'></i>
            </div>
            <a href="login.html"><button type="submit" class="btn">Change</button></a>
        </form>
    </div>
</body>
</html>